html {
  background: lightgray;
  font-size: 14px;
}

body {
  padding: 0;
  margin: 0;
}

.wrapper {
	display: flex;
	align-items: flex-start;
  margin-top: 30px;
  padding: 30px;
}

.view {
	margin-right: 30px;
	padding: 10px;
	border-radius: 10px;
	background: white;
}

.view pre {
	margin: 0;
}

.controls {
	display: flex;
	flex-direction: column;
	margin-right: 30px;
}

.controls > * {
	margin: 5px;
	padding: 5px;
	cursor: pointer;
}